body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(circle,#000428,#004e92);
  font-family:Arial;
  color:white;
}

#game{
  width:600px;
  height:700px;
  background:black;
  border:3px solid cyan;
  border-radius:15px;
  position:relative;
  overflow:hidden;
  box-shadow:0 0 25px cyan;
}

#hud{
  position:absolute;
  top:10px;
  left:10px;
  font-size:18px;
}

#player{
  width:50px;
  height:50px;
  background:cyan;
  position:absolute;
  bottom:20px;
  left:275px;
  border-radius:10px;
  box-shadow:0 0 20px cyan;
}

.bullet{
  width:6px;
  height:15px;
  background:yellow;
  position:absolute;
  box-shadow:0 0 10px yellow;
}

.enemy{
  width:40px;
  height:40px;
  background:red;
  position:absolute;
  border-radius:50%;
  box-shadow:0 0 15px red;
}

#gameOver{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  display:none;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  font-size:28px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:10px;
  background:cyan;
  font-size:18px;
  cursor:pointer;
  margin-top:15px;
}