/* css/reset.css */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Prevent body scrolling */
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
}

button {
    cursor: pointer;
    outline: none;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

img,
svg,
canvas {
    display: block;
    max-width: 100%;
}